<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
    <include th:replace="views/backend/components/metas :: metas"></include>
    <include th:replace="views/backend/components/styles :: styles"></include>
    <!--app css-->
    <link rel="stylesheet" th:href="@{../../../vendors/css/app.css}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- navbar -->
    <include th:replace="views/backend/components/navbar :: navbar"></include>
    <!-- sidebar -->
    <include th:replace="views/backend/employee/include/sidebar :: sidebar"></include>

    <!-- content wrapper -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6 animated bounceInRight">
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active"> Employee</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card card-outline card-lightblue">
                    <div class="card-header">
                        <h5><i class="fa fa-plus"></i> Update Employee</h5>
                    </div>

                    <form th:action="@{/create-employee}" th:object="${employee}" enctype="multipart/form-data" method="post" onsubmit="showUpdateAlert(event)">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">

                                        <!-- UPDATE ID -->
                                        <div class="form-group">
                                            <!-- Add hidden form field to handle update -->
                                            <input th:field="*{employeeId}" type="hidden"  class="form-control" id="txtId"/>
                                        </div>

                                        <div class="col-md-3 col-12">
                                            <div class="form-group has-icon-left">
                                                <label class="col-form-label">Employee Name:</label>
                                                <div class="position-relative">
                                                    <input type="text" th:field="*{employeeName}" class="form-control form-rounded" placeholder="Employee Name.." required>
                                                    <div class="form-control-icon">
                                                        <i class="fa fa-user"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-12">
                                            <div class="form-group has-icon-left">
                                                <label class="col-form-label">Mobile:</label>
                                                <div class="position-relative">
                                                    <input type="number" th:field="*{mobile}" class="form-control form-rounded" placeholder="+63-XXX" required>
                                                    <div class="form-control-icon">
                                                        <i class="fa fa-user"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-12">
                                            <div class="form-group has-icon-left">
                                                <label class="col-form-label">Address:</label>
                                                <div class="position-relative">
                                                    <input type="text" th:field="*{address}" class="form-control form-rounded" placeholder="Address.." required>
                                                    <div class="form-control-icon">
                                                        <i class="fa fa-user"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-12">
                                            <div class="form-group has-icon-left">
                                                <label>Gender</label>
                                                <div class="position-relative">
                                                    <fieldset class="form-group">
                                                        <select class="form-select form-control" name="gender" required>
                                                            <option>Male</option>
                                                            <option>Female</option>
                                                        </select>
                                                        <div class="form-control-icon">
                                                            <i class="fa fa-user-circle"></i>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn bg-success">
                                <i class="fa fa-save"></i> Update
                            </button>
                            <a href="/employee" class="btn btn-outline-danger btn-rounded">
                                <i class="fa fa-times"></i> Close
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- end Main content -->


    </div>
    <!-- end content wrapper -->


</div>
<include th:replace="views/backend/components/scripts :: scripts"></include>

<script>
    function showUpdateAlert(event) {
        event.preventDefault(); // Prevent form from submitting
        Swal.fire({
            title: 'Success!',
            text: 'Employee has been updated successfully.',
            icon: 'success',
            confirmButtonText: 'OK'
        }).then((result) => {
            if (result.isConfirmed) {
                event.target.submit(); // Submit the form after the alert is closed
            }
        });
    }
</script>
</body>
</html>